{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="col-md-4">
                  <div class="box_man">
                     <h3 class="mobile_text">{{adds.name}}</h3>
                     <div class="mobile_img"><img src={{adds.img.url}}></div>
                     <div class="cart_main">
                        <div class="cart_bt"><a href="#">Karta kiriting</a></div>
                        <h4 class="samsung_text">{{adds.bio}}</h4>
                        <h6 class="rate_text"><a href="#">${{adds.price}}</a></h6>
                        <h6 class="rate_text_1">$160</h6>
                     </div>
                  </div>
               </div>
{% endblock content %}


























