{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-md-4">
                     <div class="computer_img"><img src={{laps.img.url}}></div>
                     <h4 class="computer_text">{{laps.name}}</h4>
                     <div class="computer_text_main">
                        <h4 class="dell_text">Samsung</h4>
                        <h6 class="price_text"><a href="#">${{laps.price}}</a></h6>
                        <h6 class="price_text_1"><a href="#">$1000</a></h6>
                     </div>
                     <div class="cart_bt_1"><a href="#">KART QO'SHING</a></div>
                  </div>
{% endblock content %}












